.navbar {
    background:black !important;
    
}

#titleText {
    font-size: 1.5rem;
    text-decoration-color: white;
}

#titleSubtext {
    font-size: small;
}

.navButton {
    width: 150px;
    margin-right: 1rem;
}

.secNav {
    background: green;
}

#secNavFirstItem {
    margin-left: 0;
    padding-left: 0;
}

.heroSection {
    height: 80vh;
    background:grey;
}

.heroSectionText {
    
    padding-top: 20vh;
    text-decoration-color: green;
    
}

#filterSkillsForm, #hireFreelancerForm {
    height: 400px;
    background: black;
}
.box1 {
    width: 100%;
    height: 200px;
    
    background:green;
    }
footer {
    background: blue;
}

footer .list-group-item {
    background: transparent;
}

footer a {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.footerListFirstItem {
    font-weight: 700;
    background: grey;
}

.spacer {
    height: 1rem;
}
